# DataScienceEcosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. MatPlotLib

## Table of Data Science Tool

| S. No    | Name     |
|-------- |-------- |
|  1       |  Tabalue |
|  2       |  NumPy   |
|  3       |  Pandas  |

# Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# New

**Objectives**

* Create Ordered List
* Create Un-ordered List
* Arithmentic Expressions in Python
* Data Science tools

## Author
Manish